* {box-sizing: border-box}

.navbar {
  width: 100%;
  background-color: #555;
  position: fixed;
  top: 0;
  border: none;
  left: 0; 
}

.navbar a {
  float: left;
  font-size: 25px;
  background-color: #555;
  text-decoration: none;
  color: white;
  padding: 14px;
  border: none;
  text-align: center;
  width: 75%;
  display: block;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #blue;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  float: left;
  font-size: 25px;
  background-color: #555;
  text-decoration: none;
  color: white;
  padding: 12px;
  border: none;
  text-align: center;
  width: 10%;
}

.openbtn:hover {
  background-color: #000;
}

.navbar input[type=text] {
  float: right;
  width:15%;
  padding:12px;
  font-size: 25px;
}
* {
  box-sizing: border-box;
}
* {box-sizing:border-box}
body {
margin-top:100px;
text-align: center; 
font-family: 'Libre Barcode 39', cursive;
}
